---
import { AuthenticateBox } from "../components/react/AuthenticateBox";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
    <div class="h-full w-full flex flex-col md:flex-row p-2 gap-2">
        <img
            src="./assets/img/login-anim.gif"
            class="rounded-box w-full md:w-2/3 h-full object-contain bg-gradient-to-tr from-secondary to-accent backdrop-blur-sm p-4 md:p-32"
        />
        <div
            class="grow place-items-center place-content-center items-center justify-center flex bg-base-content/10 rounded-box backdrop-blur-sm"
        >
            <div class="md:w-96 flex-1">
                <AuthenticateBox client:only="react" />
            </div>
        </div>
    </div>
</AppLayout>
