---
import { UserPastes } from "../../components/react/UserPastes";
import AppLayout from "../../layouts/AppLayout.astro";
import { UserHandler } from "../../lib/handlers/UserHandler";
const user = await UserHandler.getAuthentificatedUser(Astro);
---

<AppLayout>
    <div class="flex flex-col  w-full h-fit min-h-full gap-2">
        <div class="p-4 bg-base-100 rounded-box flex flex-col gap-1">
            <h1 class="text-lg font-semibold text-base-content">App dashboard</h1>
            <p class="text-md text-base-content/50">Here you can quick access your recent activity for any available tools</p>
        </div>
        <UserPastes userId={user?.id!} client:load />
    </div>
</AppLayout>
