---
import Layout from "./Layout.astro";

interface Props {
    title?: string;
}

const { title } = Astro.props;

---

<Layout title={title}>
    <div class="grow h-[93vh] overflow-auto p-2 ">
        <slot />
    </div>
</Layout>
