---
import "@fontsource/geist-sans/200.css";
import "@fontsource/geist-sans/300.css";
import "@fontsource/geist-sans/400.css";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/800.css";

import { Footer } from "../components/react/Footer";
import { Navbar } from "../components/react/Navbar";
import { SideBar } from "../components/react/SideBar";
import { APP_DESCRIPTION, APP_NAME } from "../consts/main";
import { Toaster } from "sonner";
interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-base-200" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={APP_DESCRIPTION} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} {APP_NAME}</title>
    </head>
    <Toaster client:only="react" />

    <body>
        <div class="flex flex-wrap gap-0 h-screen w-screen">
            <Navbar client:load />
            <SideBar />
            <div class="flex-1">
                <slot />
                <Footer client:load />
            </div>
        </div>
    </body>

    <script>
        import { toast } from "sonner";
        document.addEventListener("astro:page-load", (event) => {
            const currentUrl = new URL(window.location.href);
            const searchParams = currentUrl.searchParams;
            const message = searchParams.get("message");

            if (message) {
                toast.info(message, {
                    id: "system-message",
                });
                searchParams.delete("message");
                window.history.replaceState({}, "", currentUrl.href);
            }
        });
    </script>
    <style>
        body {
            font-family: "Geist Sans", sans-serif;
        }
        .grid-container {
            display: grid;
            grid-template-rows: 5rem;
            grid-auto-rows: 5rem;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    </style>


</html>
